body {
    background: url("../images/zwartevilt/zwartevilt.png");
    
}

h1, p, div{
    color: #ffffff;
    font-size: 1em;
}
.header{
    font-family: 'Philosopher', sans-serif;
    
}

#instructions{
    font-family: 'Overpass', sans-serif;
}

img{
    width: 100px;
    height: 100px
}
