body {
    background: url("../images/zwartevilt/zwartevilt.png");
    
}
 p{
    color: #ffffff;
    font-size: 1em;
}



.header{
    font-family: 'Philosopher', sans-serif;
    color: rgb(160, 57, 57);
    text-align: center;
    font-size: 5em;
    
}

.middle{
    background: rgba(161, 153, 153, 0.5);
    border-radius: 25px;
    text-align: center;
}

h6{
    font-family: cursive;
    color: #ffffff;
    font-size: 1.2em;

}

.instructions{
    font-family: 'Times New Roman', Times, serif;
    background: rgba(161, 153, 153, 0.5);
    border-radius: 25px;
    font-size: 1.4em;
}

#instructions-title{
    color: #ffffff;
    font-size: 1.8em;
}

img{
    width: 100px;
    height: 100px
}
