body {
    background: url("../images/zwartevilt/zwartevilt.png");
}
 


.header{
    font-family: 'Philosopher', sans-serif;
    color: rgb(204, 95, 95);
    text-align: center;
    font-size: 5em;
    font-weight: bold;
    
}

.middle{
    background: rgba(161, 153, 153, 0.5);
    border-radius: 25px;
    text-align: center;
}

.guess{
    color: #ffffff;
    font-size: 1.7em;
    font-family: Arial, Helvetica, sans-serif;
 
}

#scoreDisplay, #randomNum, #wins, #losses{
    font-family: 'Maven Pro', sans-serif;
    color: #ffffff;
    font-size: 1.5em;
}

.instructions{
    font-family: 'Times New Roman', Times, serif;
    background: rgba(161, 153, 153, 0.5);
    border-radius: 25px;
    font-size: 1.4em;
    color: #ffffff;
}

#instructions-title{
    color: #ffffff;
    font-size: 1.8em;
}

img{
    width: 200px;
    height: 200px;
    
    
}

.images{
    background: rgba(161, 153, 153, 0.5);
    border-radius: 25px;
    text-align: center;
}

footer{
    text-align: center;
    color: #ffffff;
    font-size: 1.3em;
}